body {
  background: url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-container {
  margin-top: 3.75em;
}

.grid-container.login {
  max-width: 600px;
}

.header {
  background-color: rgba(64, 64, 64, 0.8);
}

.logout {
  color: #f58f91;
}

.content {
  background-color: rgba(255, 255, 255, 0.96);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table-body tr:hover {
  background: #F8F8F8;
}

.table-body tr:hover i.remove {
  visibility: visible;
}

.table-body tr td {
  border-bottom: 1px solid #E8E8E8;
}

.field {
  outline: none;
  color: #404040;
}
