//Sass variables
@import 'global';

//Mixin
@import 'mixin';

body{
  background: url('../img/background.jpg') no-repeat center center fixed;
  @include prefixer("background-size", cover);
}

.grid-container {
  margin-top: px-to-em($height-xl);
  &.login {
    max-width: 600px;
  }
}

.header {
	background-color: rgba($color-secondary, 0.8);
}

.logout {
	color: #f58f91;
}

.content {
	background-color: rgba($color-white, 0.96);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table-body tr {
  &:hover {
    background: $color-light;

    i.remove {
      visibility: visible;
    }
  }

  td {
    border-bottom: $border-xs solid $color-gray;
  }
}

.field {
	outline: none;
	color: $color-secondary;
}